<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>HOME</title>
</head>
<body>
    <form method="post" action="/procesar">
        <div class="search-box">
            <input type="text" name="name" placeholder="Epic name">
            <button type="submit" class="btn btn-primary btn-submit">🔍</button>
        </div>
    </form>

</body>
</html>